.article {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
}

.article-headline {
  grid-column: 1 / -1;
}

.article-link {
  color: #3c3a40;
  text-decoration: none;
  font-variant: normal;
}

.article-title {
  color: #3c3a40;
  margin-bottom: 0px;
  padding-bottom: 0.1rem;
  overflow-y: hidden;
  word-break: break-word;
}

.article-metadata {
  margin-bottom: 1.45rem;
  color: #bfbdc1;
}

.article-metadata-read-time {
  display: none;
}

.article-domain {
  font-size: 0.8rem;
  /* font-weight: bold; */
  color: #808080;
  padding-bottom: 0.5rem;
}

.article-domain-favicon {
  margin-right: 0.25rem;
  margin-bottom: 0px;
}

.article-image {
  margin-left: auto;
  margin-right: auto;
}

.article-image a {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.article-image img {
  display: none;
}

.article-excerpt {
  color: #3c3a40;
}

.article-readmore-container {
  flex-grow: 1;
}
.pocket-button {
  margin-top: 1rem;
}

@media (max-width: 460px) {
  .article,
  .wide,
  .article-headline {
    border: 0;
    border-bottom: 1px solid #ccc;
    display: grid;
    flex-direction: column;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  .article-domain {
    padding: 0.45rem 1.0875rem 0.45rem;
    grid-column: 1 / 2;
  }

  .article-excerpt,
  .article-readmore-container {
    display: none;
  }

  .article-link {
    /* autoprefixer: off */
    grid-row: 2 / 3;
  }

  .article-title {
    padding: 0px 1.0875rem 0.45rem;
    font-size: 0.9rem;
  }

  .article-image {
    margin: unset;
    width: unset;
    height: unset;
    /* autoprefixer: off */
    grid-row: 1 / 4;
    grid-column: 2 / 3;
  }

  .article-no-image .article-link {
    grid-column: 1 / -1;
  }

  .article-metadata {
    margin-bottom: 0rem;
    color: #bfbdc1;
    /* autoprefixer: off */
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    padding: 0rem 1.0875rem 0.2rem;
  }
}

@media (min-width: 460px) {
  .article-image div {
    display: none;
  }

  .article-image img {
    display: block;
  }

  .article-metadata-read-time {
    display: inline-block;
  }
}

@media (min-width: 700px) {
  .wide {
    grid-column: auto / span 2;
  }
}
