.article {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  background-color: #fdfdfd;
  grid-column: auto / span 1;
  display: flex;
  flex-direction: column;
}

.article-link {
  color: #3c3a40;
  text-decoration: none;
  font-variant: normal;
}

@media (min-width: 460px) {
  .article-headline {
    grid-column: 1 / 3;
  }

  .wide {
    grid-column: auto / span 2;
  }
}

@media (min-width: 700px) {
  .article-headline {
    grid-column: 1 / 5;
  }
  .wide {
    grid-column: auto / span 2;
  }
}

.article-title {
  color: #3c3a40;
  margin-bottom: 0px;
  padding-bottom: 0.1rem;
  overflow-y: hidden;
  word-break: break-word;
}

.article-metadata {
  margin-bottom: 1.45rem;
  color: #bfbdc1;
}

.article-domain {
  font-size: 0.8rem;
  /* font-weight: bold; */
  color: #808080;
  padding-bottom: 0.5rem;
}

.article-domain-favicon {
  margin-right: 0.25rem;
  margin-bottom: 0px;
}

.article-image {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.article-excerpt {
  color: #3c3a40;
}

.article-readmore-container {
  flex-grow: 1;
}
.pocket-button {
  margin-top: 1rem;
}
