.article {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  background-color: #fdfdfd;
  grid-column: auto / span 1;
}

.article-link {
  text-decoration: none;
  font-variant: normal;
}

.wide {
  grid-column: auto / span 3;
}

@media (min-width: 460px) {
  .article-headline {
    grid-column: 1 / 3;
  }

  .wide {
    grid-column: auto / span 2;
  }
}

@media (min-width: 700px) {
  .article {
    grid-column: auto / span 1;
  }
  .article-headline {
    grid-column: 1 / 5;
  }
  .wide {
    grid-column: auto / span 2;
  }
}

.article-title {
  color: rgb(60, 58, 64);
  margin-bottom: 0px;
  overflow-y: hidden;
  word-break: break-word;
}

.article-metadata {
  margin-bottom: 1.45rem;
  color: #bfbdc1;
}

.article-domain {
  font-size: 0.8rem;
  /* font-weight: bold; */
  color: #808080;
  padding-bottom: 0.5rem;
}

.article-domain-favicon {
  margin-right: 0.25rem;
  margin-bottom: 0px;
}

.article-image {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

/* 
.article a:visited {
  color: rgb(0, 0, 238);
} */
