*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.wrapper {
  list-style: none;
  margin: 0 auto 0 auto;
  padding: 0;
  display: grid;
  max-width: 960px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-flow: dense;
}

@media (min-width: 460px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.week-header {
  text-align: center;
}
.week-headline {
  text-align: center;
  font-size: 3rem;
}

.week-current {
  color: #3c3a40;
}

.week-metadata-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px 0;
}

.week-metadata-sort {
  color: #d81159;
}
.week-metadata-sort select {
  font-family: sans-serif;
  appearance: none;
  font-size: 0.8rem;
  float: right;
  border: 0;
  border-bottom: #78fecf 1px solid;
  color: #3c3a40;
  background: url("data:image/svg+xml;utf8,<svg aria-hidden='true' data-prefix='fas' data-icon='caret-down' class='svg-inline--fa fa-caret-down fa-w-10 ' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><path style='stroke: %23d81159; fill: %23d81159;' d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'></path></svg>")
    right no-repeat;
  padding-right: 1rem;
  border-radius: 0px;
}

.week-metadata-sort::after {
  display: none;
  font-family: "Font Awesome 5 Solid";
  content: "\f007";
  color: #d81159;
}

.week-metadata {
  color: #bfbdc1;
  font-size: 0.8rem;
  white-space: nowrap;
  text-align: left;
  flex: 1;
}
