*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.wrapper {
  list-style: none;
  margin: 0 auto 0 auto;
  padding: 0;
  display: grid;
  max-width: 960px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-flow: dense;
}

@media (min-width: 460px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.week-header {
  text-align: center;
}
.week-headline {
  text-align: center;
  font-size: 3rem;
}

.week-current {
  color: #3c3a40;
}

.week-metadata-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px 0;
}

.week-metadata-sort {
  flex: 1;
}
.week-metadata-sort select {
  font-size: 0.8rem;
  float: right;
}

.week-metadata {
  color: #bfbdc1;
  font-size: 0.8rem;
  white-space: nowrap;
  text-align: left;
}
