*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.wrapper {
  list-style: none;
  margin: 0 auto 0 auto;
  padding: 0;
  display: grid;
  max-width: 960px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-flow: dense;
}

@media (min-width: 460px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 660px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .wide {
    grid-column: auto / span 2;
  }
}
.week-header {
  text-align: center;
}
.week-headline {
  text-align: center;
  font-size: 3rem;
}

.week-current {
  color: #3c3a40;
}

.week-metadata-container {
  display: flex;
  margin: 10px 10px 0;
}

.week-metadata-first,
.week-metadata-last {
  width: 20%;
}
.week-metadata-last select {
  float: right;
  font-size: 0.8rem;
}

.week-metadata {
  color: #bfbdc1;
  flex: 1;
}
