.cta-background {
  background-color: #d81159;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
}

.cta-container {
  text-align: center;
  font-family: sans-serif;
  color: #fff;
}

.cta-container h4 {
  padding: 0.45rem;
  margin-bottom: 0;
}

.cta-button {
  border: 2px solid #fff;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  width: 170px;
  margin: 0 auto;
  display: inline-block;
}

.cta-button small {
  color: #bfbdc1;
}

.cta-button:hover {
  background-color: #ad0c47;
}
