.top-nav {
  border-bottom: solid 1px #78fecf;
  padding: 0.5rem 1rem;
  display: flex;
}

.top-nav a {
  font-variant: small-caps;
  font-family: sans-serif;
  text-decoration: none;
}

.top-nav-first,
.top-nav-last {
  width: 30%;
}

.top-nav-last {
  text-align: right;
}

.top-nav-middle {
  flex: 1;
}

.top-nav-title {
  text-align: center;
  font-family: Cinzel Decorative, serif;
  font-size: 1.5rem;
  color: #bfbdc1;
  margin-bottom: 0;
}

@media (max-width: 660px) {
  .top-nav-first,
  .top-nav-last {
    width: 50%;
  }
  .top-nav-title {
    display: none;
  }
}

.site-name-container {
  display: flex;
}
.site-name {
  margin-top: 1.45rem;
  flex: 1;
  text-align: center;
}
