body {
  background-color: #fdfdfd;
}

iframe {
  margin: 0;
}

.page-main-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0px 1.0875rem 1.45rem;
}

.link-effect {
  text-decoration: none;
  color: #d81159;
}

.link-effect span {
  transition: all 0.25s ease-in-out;
  border-bottom: 3px solid transparent;
}

.link-effect:hover span {
  border-bottom: 3px solid #d81159;
}

@media (max-width: 460px) {
  .page-main-container {
    padding: 0;
  }
}
